a{
    text-decoration:none;
    
}
a.options{
    color:darkcyan;
}
h2{
    color:white;
}
p{
    color:black;
}
h3 {
    font-size:10px ;
    
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    
}
.contenedor {
    width: 100%;
    
    margin-top:-8px;
    
    
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:"rol rol rol"
                        "header header header"
                        "menu menu menu"
                        "tablaTickets tablaTickets tablaTickets";	              
}
.contenedor .rol{
    background-color:midnightblue;
    color:white;
    grid-area:rol;
    width:100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    position:fixed;
    margin-left:-8px;
    
    
    
}
.contenedor .header{
    background-image: url("../images/headerBack.png");
    background-size:cover;
    grid-area:header;
    padding-right:1em;
    padding-left:1em;

    display:none;
    
    color:white;
    
    text-align: center;
    align-items: center;
    position:relative;
    top:30px;
    margin-left:-9px;
    margin-right:-8px;
    
    
        
}
.contenedor .header2{
    background-image: url("../images/headerBack.png");
    background-size:cover;
    grid-area:header;
    padding-right:1em;
    padding-left:1em;
    margin-left:-9px;
    margin-right:-8px;
    display:flex;
    color:white;
    align-items: center;
    position:relative;
    top:30px;
    padding-top:1em;
    padding-bottom:1em;	
}
.contenedor .header2 .precenter, .postcenter{
    
    width:50%;
}


.contenedor .header .right{
    width:100%;
}

.contenedor .menu {
    background-image:url("../images/headerBack.png");
    background-size:cover;
    grid-area:menu;
    margin-left:-9px;
    
    display:none;
    
    position:relative;
    margin-right:-8px;
    top:29px;
    padding: 0em 2em 0em 2em;
    
}
.contenedor .menu a p {
    color:white;
    
}

td{
    padding:5px;
    text-align:center;	
    
}


tr.tr{
    background-image:url("../images/headerBack.png");
    background-size:cover;
    
    border-bottom: solid 1px white;
    color:white;
    
    
}
tr.body td{
    border-bottom: solid 1px black;
}


td.left{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
td.right{
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
}

.contenedor .tablaTickets{
    grid-area:tablaTickets;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    height:auto;
    position:relative;
    top:40px;
    overflow:auto;
    min-width:100%;
    text-align:center;
    word-wrap: break-word;
    
    
}
.contenedor .tablaTickets .asunto ,
.contenedor .tablaTickets .descripcion{
    
    max-width:15em;
    
    max-height:5em;
    overflow:auto;
    

    
}


img.logoBlanco {
    width: 80px;
    height:80px;
}
.menuicon{
    border-radius:30%;
    width:45px;
    height:45px;
    border: solid 2px midnightblue;
}
.menucerraricon{
    border-radius:30%;
    width:45px;
    height:45px;
    border: solid 2px midnightblue;
    
    position:relative;
}
img.cerraricon {
    border-radius:30%;
    width:45px;
    height:45px;
    border: solid 2px midnightblue;
    position:relative;
    
    
}
.Amenu{
    
    padding-left:2em;
    padding-right:2em;
    border-radius: 70%;
}
.Amenu:hover{
    animation: Amenu 1.5s infinite alternate;
    
}
.casillano:hover {
       animation: casillano 1.5s infinite alternate;
    border: 2px solid #CFA8F5;
}
@keyframes casillano {
    0% {border-color: midnightblue;}
    100% {border-color: white;}
}
@keyframes Amenu {
    0% {border-color:none ;}
    100% {background-color: rgba(25, 25, 112, 0.349);}
}
[tooltip] {
    position: relative; /* opinion 1 */
    }
    
    /* Applies to all tooltips */
    [tooltip]::before,
    [tooltip]::after {
    text-transform: none; /* opinion 2 */
    font-size: .9em; /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
    }
    [tooltip]::before {
    content: '';
    border: 5px solid transparent; /* opinion 4 */
    z-index: 1001; /* absurdity 1 */
    }
    [tooltip]::after {
    content: attr(tooltip); /* magic! */
    
    /* most of the rest of this is opinion */
    font-family: Helvetica, sans-serif;
    text-align: center;
    
    /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: 20%;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 1000; /* absurdity 2 */
    }
    
    /* Make the tooltips respond to hover */
    [tooltip]:hover::before,
    [tooltip]:hover::after {
    display: block;
    }
    
    /* don't show empty tooltips */
    [tooltip='']::before,
    [tooltip='']::after {
    display: none !important;
    }
    
    /* FLOW: UP */
    [tooltip]:not([flow])::before,
    [tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
    }
    [tooltip]:not([flow])::after,
    [tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
    }
    [tooltip]:not([flow])::before,
    [tooltip]:not([flow])::after,
    [tooltip][flow^="up"]::before,
    [tooltip][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
    }
    
    /* FLOW: DOWN */
    [tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #333;
    }
    [tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
    }
    [tooltip][flow^="down"]::before,
    [tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
    }
    [tooltip][flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #333;
    left: calc(0em - 5px);
    transform: translate(-.5em, -50%);
    }
    [tooltip][flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-.5em, -50%);
    }
    /* FLOW: LEFT */
    [tooltip][flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #333;
    left: calc(0em - 5px);
    transform: translate(-.5em, -50%);
    }
    [tooltip][flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-.5em, -50%);
    }
    @keyframes tooltips-vert {
    to {
    opacity: .9;
    transform: translate(-50%, 0);
    }
    }
    
    @keyframes tooltips-horz {
    to {
    opacity: .9;
    transform: translate(0, -50%);
    }
    }
    
    /* FX All The Things */ 
    [tooltip]:not([flow]):hover::before,
    [tooltip]:not([flow]):hover::after,
    [tooltip][flow^="up"]:hover::before,
    [tooltip][flow^="up"]:hover::after,
    [tooltip][flow^="down"]:hover::before,
    [tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
    }
    
    [tooltip][flow^="left"]:hover::before,
    [tooltip][flow^="left"]:hover::after,
    [tooltip][flow^="right"]:hover::before,
    [tooltip][flow^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
    }
